.services {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex: 1;
  height: 90vh;
  margin-bottom: 8rem;
  margin-top: 9rem;
}
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}
.awesome > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2.5rem;
}
.awesome>:nth-child(2)
{
   color: var(--orange);
   font-size: 2.5rem;
   font-weight: bold;
}
.awesome>:nth-child(3){
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
  line-height: 0.9rem;
}
.s-button{
  width: 8rem;
  height: 2rem;
  margin-top:1rem; 
}