.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  gap: 2rem;
  flex-direction: column;
}
.i-right {
  display: flex;
  position: relative;
  flex: 1;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-size: 14px;
  font-weight: 100;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  transform: scale(0.67);
  left: -3rem;
  top: -4.6rem;
}
.i-right > :nth-child(3) {
  transform: scale(0.8);
  left: 28%;
}
